<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add metric</title>
    <link rel="stylesheet" type="text/css" href="/static/addMetric/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" crossorigin="anonymous" />
        <script type="text/javascript" src="/static/addMetric/index.js"></script>

</head>
<body>
    <div class='header'>
        <button class='disconnect-link' onClick='onHomeClicked()'>Home</button>
        <button class='disconnect-link' onClick='onDisconnectClicked()'>Disconnect</button>
    </div>
    

    <div class="root-container">
        <div class='add-metric-form'>
            <h2>Insert new metric</h2>
            <input
            id='metric_name'
            class='add-metric-input'
            type='text'
            placeholder='Name'
            />
            <input
            id='metric_value'
            class='add-metric-input'
            type='number'
            placeholder='Value'
            />
            <div class='add-metric-buttons'>
                <button class='add-metric-button-login' onClick='onAddClicked()'>Add</button>
            </div>
        </div>
    </div>
    <script>
        window.onload = () => {
            onLoaded();
        };
    </script>
</body>
</html>
